@using Task7._1._2.Models;
@{
    Layout = "_Layout.cshtml";
    Page.Title = "SignIn Page";
    var message = "";
    if (IsPost)
    {
        if (Auth.CanLogin(Request["login"], Request["password"]))
        {
            FormsAuthentication.SetAuthCookie(Request["login"], createPersistentCookie: true);
            Response.Redirect("~/Pages/StartPage");
        }
        else
        {
            message = "Try one more time";
        }
    }
}

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <p>Dear, guest!</p>
    <p>Using our application can only authenticated users.</p>
    <p>Please, sign in, or  <a href="~/Pages/NewAccount.cshtml">create new account</a>  </p>
    <p></p>
    <form method="post">
        <p>Input your login: </p>
        <input type="text" name="login" />
        <p>Input your password: </p>
        <input type="password" name="password" />
        <button type="submit">Sign In</button>
    </form>

    <p style="margin-top: 100px">Help for EPAMers:</p>
    <p><strong>If u want auth like admin</strong></p>
    <form method="post">
        <p>Input your login: </p>
        <input type="text" name="login" value="admin" />
        <p>Input your password: </p>
        <input type="password" name="password" value="admin" />
        <button type="submit">Sign In</button>
    </form>
    <p><strong>If u want auth like user</strong></p>
    <form method="post">
        <p>Input your login: </p>
        <input type="text" name="login" value="alexey" />
        <p>Input your password: </p>
        <input type="password" name="password" value="alexey" />
        <button type="submit">Sign In</button>
    </form>
    <strong style="margin-top: 50px; font-size: 20px;">
    @if (IsPost)
    {
        @Html.Raw(message);
    }
    </strong>
    
</div>


