@{
    Layout = "index.cshtml";
}

<!DOCTYPE html>
<div class="menu">
    <button onclick="location.href ='UserManager.cshtml'" id="btn-oum">Open UserManager</button>
    <button id="btn-oam">Open AwardManager</button>
    <button id="btn-cls">Close App</button>
</div>