@{
    Layout = "_Layout.cshtml";
    Page.Title = "Start";
}

<div class="menu">
    <button onclick="location.href ='UserManager.cshtml'" id="btn-oum">Open UserManager</button>
    <button onclick="location.href ='AwardManager.cshtml'" id="btn-oam">Open AwardManager</button>
</div>